<div class="gwd-div-run3">
  <div class="gwd-div-gner gwd-div-8tdv gwd-div-10ih">
    <img class="gwd-img-1wdr" src="assets/Avatar/lamy.png" (click)="UserInfoImgClick()">
    <div [hidden]="isUserInfoHidden">
      <app-user-info class="pop-over" [user]="userOut"></app-user-info>
    </div>

  </div>
  <div class="gwd-div-gner gwd-div-8tdv gwd-div-1mom">
    <img src="assets/moment.icon.png" id="IMG_2" class="gwd-img-197r">
  </div>
  <div class="gwd-div-gner gwd-div-8tdv gwd-div-1myx">
    <img src="assets/chat.icon.png" id="IMG_1" class="gwd-img-64p1">
  </div>
</div>
