<app-alert-banner [alertMessage]="alertMessage"
                  [visible]="isAlertMessageVisible"
                  (dismissEvent)="onChangeDismissAlert()">
</app-alert-banner>
<div>
  <div class="imgContainer">
    <img src="../../../assets/Avatar/login_avatar_male.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" [(ngModel)]="user.username" placeholder="name"> <br/>
    <label><b>Old Password</b></label>
    <input type="text" [(ngModel)]="user.oldPassword" placeholder="old password"> <br/>
    <label><b>New Password</b></label>
    <input type="text" [(ngModel)]="user.password" placeholder="new password"> <br/>
    <button (click)="changePassword()">Change Password</button>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
  </div>
</div>
