<app-alert-banner [alertMessage]="alertMessage"
                  [visible]="isAlertMessageVisible"
                  (dismissEvent)="dismissClicked()">
</app-alert-banner>
<div>
  <div class="imgContainer">
    <img src="../../../assets/Avatar/login_avatar_male.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" [(ngModel)]="username" placeholder="name"> <br/>
    <div *ngIf="this.isConfirmationCodeSent">
      <label><b>New Password</b></label>
      <input type="text" [(ngModel)]="newPassword" placeholder="New password"> <br/>
      <label><b>Confirmation Code</b></label>
      <input type="text" [(ngModel)]="confirmationCode" placeholder="Confirmation Code"> <br/>
    </div>
    <button (click)="submit()">Submit</button>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
  </div>
</div>
